<Template name="designScrollView">
 
 
    {{#View size="[undefined,undefined]" origin="[0,0]" align="[0,0]"}}
 
    {{#Surface id="backing2" translate="[0,0,-1]" size="[undefined,undefined]"
         class="bg-darkgray" }}{{/Surface}}
    {{#Scrollview size="[undefined,undefined]"}}
 
    <!--{{#Surface size="[undefined,undefined]" class='task' }}DESIGN PAGE{{/Surface}}-->
   {{#Surface id="design" class='task' size="[undefined,auto]" }}
 
<!-- note the use of the triple 'handlebars' {{{ around 'content'- this tells the render engine
     that this is HTML code and needs to be rendered as such
--> 
            {{{content}}}
    {{/Surface}}
    
    {{/Scrollview}}
{{/View}}
 
 
</Template>